.menu ul{
	list-style-type:none;
	padding:0;
	height:40px;
    line-height: 40px;
	border-radius:4px;
	background-color:#F2F2F2;
	margin-bottom:25px;
	margin-top:25px;
}
 
.menu li{
	display:inline-block;
	margin-left:10px;
	padding:0;
}

.menu li a{
    padding: 0 8px;
}

.menu li .activ{
	color: #000!important;
    background-color: #fff;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
    padding: 1px 12px 12px 12px;
	position: relative;
	height:33px;
}

.main{
	box-sizing: border-box;
    min-width: 1000px;
    max-width: 1280px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

a {text-decoration: none;} 
.tops{
	vertical-align:top;
	padding:0;
}
#lines{ margin-right:270px; }
#txt{letter-spacing: 5px; font-size: 14pt;}
#ttl{font-size: 14pt; word-spacing:5px;}
#mainT{font-size:16pt; word-spacing:5px;}

.flex-container {
    display: flex;
    align-items: flex-start;
    height: auto; 
}
.flex-item {
	margin-left: 1rem;
	padding: 10px;
}

 
.item1 { 
	min-width: 380px;
    max-width: 400px;
	padding:0;
	margin:0;
}
.item2 { 
	min-width: 400px;
    max-width: 600px;
	margin-left: 20px; 
	padding:0 10px 10px 10px;
	
}
.item3 {  
	min-width: 240px;
    max-width: 240px;
	margin-left: 20px; 
	padding:0;
}

.mar{
	margin: 0;
	padding:10px;
}
.greyC{
	background: #F2F2F2;
	border-radius:4px;
	margin:0 0 20px 0;
}
	
.item4 {  
	min-width: 380px;
    max-width: 450px;
	padding:0;
	margin:0;
}

.sideLeft {
    margin: 0 7px 7px 0;
}

a:hover {
    color: #FF0000;
}

.pic_size{
    width: 380px;
    height: 214px;
}
